# Copiar a .env y ajustar valores
# Base de datos PostgreSQL (usa la contraseña que definiste al instalar)
DB_NAME=latinforce_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Superusuario Django (para: python manage.py createsuperuser --noinput)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@latinforce.local
DJANGO_SUPERUSER_PASSWORD=admin123

# Opcional
DEBUG=True
DJANGO_SECRET_KEY=tu-clave-secreta-aqui
